<div class='p-6 flex flex-col gap-2 text-white m-auto container'>
  <h1 class='text-4xl font-semibold text-center text-green-500'>
    &lt; Sobre mi /&gt;
  </h1>
  <p>
    Fullstack developer con más de 10 años de experiencia en el mundo del
    desarrollo de software. Me encanta la tecnología, estar al día de las
    novedades que van apareciendo y compartir conocimiento.
  </p>
</div>
