<main class="p-6 text-white">
  <h2 class='text-4xl font-semibold text-center text-green-500'>&lt; Contacto /&gt;</h2>
  <ul class='w-full flex justify-center gap-4 mt-4'>
    <li>
      <a
        href='https://www.linkedin.com/in/carlosdelfresno'
        target='_blank'
      >
        <img
          class='transition ease-in hover:scale-125 delay-150 duration-200'
          src='linkedin.svg'
        />
      </a>
    </li>
    <li>
      <a href='https://github.com/carlosdelfresno' target='_blank'>
        <img
          class='transition ease-in hover:scale-125 delay-150 duration-200'
          src='github2.svg'
        />
      </a>
    </li>
    <li>
      <a href='mailto:carlos@delfresno.com'>
        <img
          class='transition ease-in hover:scale-125 delay-150 duration-200'
          src='email.svg'
        />
      </a>
    </li>
  </ul>
</main>
