<main class='p-6 text-white'>
  <h2 class='text-4xl font-semibold text-center text-green-500'>
    &lt; Experiencia /&gt;
  </h2>
  <ul class='flex flex-col gap-6 mt-6'>
    <li>
      <h3 class='text-lg font-semibold text-green-500'>
        &lt;/&gt; ITI - Instituto Tecnológico de Informática
      </h3>
      <p class='font-semibold'>03/2016 - actualidad</p>
      <p>
        Jefe de proyecto en el área de Desarrollo de Soluciones Big Data &
        Analytics (ADSA) del departamento de Consultoría Tecnológica (DCT)
      </p>
    </li>
    <li>
      <h3 class='text-lg font-semibold text-green-500'>
        &lt;/&gt; TUNE-UP Process S.L.<span class='text-white'></span>
      </h3>
      <p class='font-semibold'>05/2018 - actualidad</p>
      <p>
        Desarrollador principal y socio de la plataforma de gestión de proyectos <a
          class='text-green-600 italic'
          href='http://tuneupprocess.com'
        >
          Worki
        </a> desarrollada con Angular para el frontend y .NET para el backend
      </p>
    </li>
    <li>
      <h3 class='text-lg font-semibold text-green-500'>
        &lt;/&gt; Desarrollador freelance
      </h3>
      <p>Desarrollo de aplicaciones a medida</p>
      <li>
        <h3 class='text-lg font-semibold text-green-500'>
          &lt;/&gt; <a href='https://esemtia.com/'>Esemtia Grupo Edebé</a>
        </h3>
        <p class='font-semibold'>06/2011 - 03/2016</p>
        <p>
          Desarrollo de la plataforma Esemtia para centros educativos que
          incluye todos los aspectos necesarios para la gestión íntegra de un
          colegio incluyendo notas, seguimiento académico, facturación, gestión
          pedagógica, ...
        </p>
      </li>
    </li>
  </ul>
</main>
