<main class='flex flex-col gap-3 p-6 text-white'>
  <h2 class='text-4xl font-semibold text-center text-green-500'>&lt; Tecnologías /&gt;</h2>
  <div class='flex gap-3 justify-center'>
    <div>React</div>
    <div>Angular</div>
    <div>HTML</div><div>JavaScript</div><div>SQL</div>
  </div>
</main>
