---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Portfolio de Carlos del Fresno Canales' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.ico' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='overflow-x-hidden scroll-smooth bg-no-repeat body-main bg-fixed md:w-[800px] sm:container mx-auto'>
    <slot />
  </body>
</html>
<style is:global>
  .body-main {
    background-image: url('/bg.svg');
	background-color: #080d19;
  }
  :root {
    color: CanvasText;
    /* background-color: Canvas; */

    color-scheme: light;
    font: system-ui, sans-serif;
    /* --accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%); */

    /*color-scheme: light dark;
		color: CanvasText;
		background-color: Canvas;*/
  }
  html {
    /* font-family: system-ui, sans-serif;
		background: #13151A;
		background-size: 224px; */
  }
  code {
    /* font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace; */
  }
</style>
